beautifulsoup4==4.12.3
gym==0.26.2
gymnasium==0.29.1
imageio==2.34.0
lasagne==0.1
matplotlib==3.8.3
numpy==1.26.4
oblige==0.1.3
openai==1.14.3
psutil==5.9.8
pygame==2.5.2
pynput==1.7.6
pypandoc==1.13
python-dotenv==1.0.1
scipy==1.12.0
setuptools==68.2.2
skimage==0.0
stable_baselines3==2.2.1
tensorflow==2.16.1
theano==1.0.5
torch==2.2.1
tqdm==4.66.2
wheel==0.43.0
